<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <modules>
        <Foggyline_HappyHour>
            <version>1.0.0.0</version>
        </Foggyline_HappyHour>
    </modules>
    <frontend>
        <routers>
            <foggyline_happyhour>
                <use>standard</use>
                <args>
                    <module>Foggyline_HappyHour</module>
                    <frontName>happyhour</frontName>
                </args>
            </foggyline_happyhour>
        </routers>
    </frontend>
    <global>
        <blocks>
            <foggyline_happyhour>
                <class>Foggyline_HappyHour_Block</class>
            </foggyline_happyhour>
        </blocks>
    </global>
</config>